OFFER_CLOSE_BUTTON

OFFER_HEADER

OFFER_BODY

OFFER_BUTTON_1

OFFER_BUTTON_2

OFFER_BUTTON_3

border-radius: 24px;
#cxone-guide-container button.action.svelte-1aciun2.svelte-1aciun2 {
    box-shadow: 0 1px 2px #1f324d33;
    padding: .6923em 1.5384em;
    height: 2.7692em;
    font-weight: 600;
    font-size: .8125em;
    line-height: 1.3615em;
    cursor: pointer;
    border-radius: 24px;
    background-color: #fff;
    color: var(--be-header-bg-color);
    border: 1px solid var(--be-button-outline-color);
    width: 100%;
}

cxone('chat','setCustomCss', '[data-selector="OFFER_BUTTON_1"] {color: #000000 !important; background: #Ff0000 !important; border-radius: 2px !important;} [data-selector="OFFER_BUTTON_2"] {color: #000000 !important; background: #00FF00 !important; border-radius: 12px !important;} [data-selector="OFFER_BUTTON_3"] {color: #000000 !important; background: #0000FF !important; border-radius: 22px !important};');


cxone('chat','setCustomCss', '[data-selector="OFFER_BUTTON_1"] {color: #000000 !important; background: #Ff0000 !important; border-radius: 2px !important;} [data-selector="OFFER_BUTTON_2"] {color: #000000 !important; background: #00FF00 !important; border-radius: 12px !important;} [data-selector="OFFER_BUTTON_3"] {color: #000000 !important; background: #0000FF !important; border-radius: 22px !important; box-shadow: 20px 20px 20px 10px blue !important};');